# dependencies
node_modules/

# build
dist/
build/

# env
.env
.env.development
.env.production
.env.local

# editor
.vscode/
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
